---
import Layout from '@/layouts/Layout.astro';
import { getMovieDetails } from "@/lib/api";

//Saca desde que fila a clicado
const rowFrom = Astro.url.searchParams.get('from') || 'popular';

const { id } = Astro.params

// Recupera pelis
let details
if (id) {
  details = await getMovieDetails(id);
}
---

<Layout title="SubchoFlix">
  <main class="flex flex-row justify-center w-full h-full overflow-hidden">
    <div class="h-full w-1/3 shrink-0 relative" transition:name={`movie-${id}-row-${rowFrom}`}>
      <img src={`https://image.tmdb.org/t/p/w500/${details?.poster_path}`} class="h-full w-full object-cover object-center block z-10"/>
      <div class="absolute w-1/4 h-full top-0 right-0 pr-4 z-20 bg-linear-to-r from-zinc-900/0 to-zinc-900"/>
    </div>
    <section class="flex flex-col w-2/3">
      <h1>{details?.title}</h1>
      <p>{details?.overview}</p>
      
      <p>{details?.release_date}</p>
      <p>{details?.vote_average}</p>
    </section>
  </main>
</Layout>
    