---
import Layout from '@/layouts/Layout.astro';
import { getMovieDetails } from "@/lib/api";

//Saca desde que fila a clicado
const rowFrom = Astro.url.searchParams.get('from') || 'popular';

const { id } = Astro.params

// Recupera pelis
let details
if (id) {
  details = await getMovieDetails(id);
}
---

<Layout title="SubchoFlix">
  <main class="flex flex-row justify-center h-screen">
    <img src={`https://image.tmdb.org/t/p/w500/${details?.poster_path}`} class="w-2/7 my-auto" transition:name={`movie-${id}-row-${rowFrom}`}/>
    <section class="flex flex-col">
      <h1>{details?.title}</h1>
      <p>{details?.overview}</p>
      
      <p>{details?.release_date}</p>
      <p>{details?.vote_average}</p>
    </section>
  </main>
</Layout>
    